# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.local
.vercel
public/logos/*.png
!public/logos/.gitkeep
.env*

# Keluarkan file recovery dari staging
git restore --staged recovery-codes.txt

# Tambahkan ke .gitignore agar tidak terlacak lagi
echo recovery-codes.txt >> .gitignore
git add .gitignore